:root {
    --primaryBlue : #1890FF;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

a {
    text-decoration: none;
}

body.landingPage {
    width: 100vw;
    background: url(images/bg.png) no-repeat left fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-origin: border-box;
    /* background-position: left; */
    height: 100vh;
    position: fixed;  
    display: flex;  
    flex-direction: column;
}

section#topStrip {
    display: flex;
    flex-direction: row;
    padding: 0 8%;
    background-color: #262626;
    justify-content: space-between;
}
section#topStrip span {
    padding: 6px 0;
    color: white;
    font-size: 15px;
}
section#topStrip span a {
    text-decoration: none;
    color: var(--primaryBlue);
}
section#topStrip span a:hover {
    transition: 0.2s ease;
    text-decoration: underline;
}

header {
    display: flex;
    flex-direction: row;
    margin: 2em 6%;
    align-items: center;
    margin-bottom: 3em;
}
header img#headerLogo {
    height: 20px;
}
header nav {
    display: flex;
    flex-direction: row;
    margin-left: 10%;
}
header nav a {
    padding: 2px 6px;
    margin: 0 12px;
    color: white;
    font-weight: bold;
    border-bottom: 2px solid transparent;
}
header nav a:hover {
    transition: 0.2s ease;
    border-color: white;
}

header #login-try {
    display: flex;
    flex-direction: row;
    margin-left: auto;
}

header #login-try div {
    border-radius: 60px;
    border: 1px solid var(--primaryBlue);
    background-color: var(--primaryBlue);
    color: white;
    height: 36px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
header #login-try div.login {
    background-color: white;
    margin-left: 1em;
}
header #login-try a {
    padding: 0 16px;
    color: black;
}
header #login-try div.tryNow a {
    color: white;
}
header #login-try div.tryNow:hover{
    background-color: white;
    transition: 0.4s ease;
}
header #login-try div.tryNow:hover a {
    color: var(--primaryBlue);
}
header #login-try div.login:hover {
    transition: 0.4s ease;
    background-color: var(--primaryBlue);
}
header #login-try div.login:hover a {
    color: white;
}

section#landingPageContent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 0 8%;
}
#landingPageContent #landingPageContentContainer {
    width: 50%;
    color: white;
}
#landingPageContentContainer h1 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 90px;
    text-transform: uppercase;
}
#landingPageContentContainer #CTAs {
    display: flex;
    flex-direction: row;
    margin-top: 3em;
}
#landingPageContentContainer #CTAs a {
    padding: 10px 38px;
    border-radius: 60px;
    border: 1px solid white;
    color: white;
    font-weight: bold;
}
#landingPageContentContainer #CTAs .contactCTA {
    background-color: white;
    margin-left: 2em;
    color: var(--primaryBlue);
    box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.25);
}
#landingPageContentContainer #CTAs .contactCTA:hover {
    transition: 0.4s ease;
    border-color: var(--primaryBlue);
    background-color: var(--primaryBlue);
    color: white;
}
#landingPageContentContainer #CTAs .tryNowCTA:hover {
    transition: 0.4s ease;
    background-color: white;
    color: var(--primaryBlue);
}
#landingPageContent #landingPageSideImg {
    width: 48%;
}
#landingPageContent #sideImgLandingPage {
     width: 50%;
     position: relative;
     display: flex;
     flex-direction: column;
}
#landingPageContent #sideImgLandingPage #mainBgBlocks {
    width: 76%;
    margin-left: 8em;
}
#landingPageContent #sideImgLandingPage img {
    z-index: 1;
}
#sideImgLandingPage .landingPageSideList {
    width: 50%;
    margin-left: auto;
    cursor: pointer;
    box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    
}
#sideImgLandingPage .landingPageSideGraph {
    width: 44%;
    transform: translateY(-3em);
    margin-left: 8em;
    cursor: pointer;
    box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
}
#sideImgLandingPage .landingPageSideGraph:after {
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
}
#sideImgLandingPage .landingPageSideGraph:hover {
    transform: translateY(-3.4em);
    transition: 0.4s ease;
}
#sideImgLandingPage .landingPageSideList:hover {
    transform: translateY(-0.4em);
    transition: 0.4s ease;
}

section#companies {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly ;
    margin-bottom: 2em;
    margin-top: auto;
}
section#companies img {
    padding: 0 20px;
    height: 40px;
}

/* ABOUT PAGE CSS */
body.otherPages {
    background: url(images/basic_bg.png) no-repeat left top; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    display: flex;  
    flex-direction: column;
}

header.otherPages nav a{
    color: black;
}
header.otherPages nav a:hover {
    transition: 0.2s ease;
    border-color: black;
}

footer {
    display: flex;
    flex-direction: column;
    margin-top: auto;
}

footer #upperFooter {
    display: flex;
    flex-direction: row;
    background-color: #14395B;
    color: white;
    padding: 0 12%;
    padding-top: 3em;
    padding-bottom: 2em;
}
footer #sectionOne {
    width: 30%;
}
footer #sectionOne img#logoFooter {
    width: 200px;
    margin-bottom: 1em;
}
footer #sectionOne .socials {
    display: flex;
    flex-direction: row;
    justify-content: left;
}
footer #sectionOne .socials a {
    display: flex;
    background-color: #FFFFFF;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    
    margin: 2em 0;
    margin-right: 1em;
}
footer #sectionOne .socials a img {
    filter: invert(70%) sepia(39%) saturate(273%) hue-rotate(169deg) brightness(94%) contrast(93%);
}
footer #sectionOne .socials a:hover {
    background-color: #2289FF;
    transition: 0.2s ease;
}
footer #sectionOne .socials a:hover img{
    filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(275deg) brightness(107%) contrast(101%);
    transition: 0.2s ease;
}
footer h3 {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 1em;
}
footer div a {
    color: white;
}
footer #sectionTwo, #sectionThree, #sectionFour {
    display: flex;
    flex-direction: column;
    width: 20%;
}
#sectionTwo a, #sectionThree a, #sectionFour p {
    padding: 0.5em 0;
    font-size: 14px;
}
footer #lowerFooter {
    background-color: #0B2F50;
    display: flex;
    flex-direction: row;
    padding: 1em 12%;
    color: white;
    font-size: 14px;
}
footer a:hover {
    text-decoration: underline;
    transition: 0.2s ease;
}

section#aboutUs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    margin: 2em 8em;
    padding: 1em;
    padding-bottom: 3em;
}
section#aboutUs h2 {
    text-align: center;
    color: #A8A8A8;
    margin-bottom: 0.5em;
}
section#aboutUs #aboutUsInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
section#aboutUs #aboutUsInfo div {
    width: 30%;
    text-align: center;
    padding: 1.5em;
}
section#aboutUs #aboutUsInfo div h3 {
    margin-bottom: 2em;
}
section#aboutUs #aboutUsInfo .seperatorAboutUs {
    height: 36em;
}

/* Contact Us Page CSS */

section#contactUs {
    display: flex;
    flex-direction: row;
    background-color: white;
    margin: 4em 18em;
    box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.25);
    margin-bottom: 10em;
}
section#contactUs > div {
    padding: 4em;
    width: 50%;
}
section#contactUs h3 {
    font-weight: bolder;
    font-size: 22px;
    margin-bottom: 1em;
}
section#contactUs .letsConnect p {
    font-size: 14px;
    margin-bottom: 2em;
    margin-top: 0.5em;
}
section#contactUs .letsConnect .connectOption {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1.6em 0;
}
section#contactUs .letsConnect .connectOption p {
    margin: 0;
    font-weight: bold;
}
section#contactUs .letsConnect .connectOption img {
    width: 24px;
    margin-right: 8px;
}
section#contactUs .sendMessage {
    background-color: #F5F5F5;
}
section#contactUs .sendMessage .inputField {
    display: flex;
    flex-direction: column;
    margin: 0.5em 0;
    width: 100%;
}
section#contactUs .sendMessage .inputField label {
    font-size: 14px;
}
section#contactUs .sendMessage .inputField input {
    height: 28px;
    background-color: white;
    outline: none;
    border: 1px solid #E0E0E0;
    padding: 0 8px;
}
input:focus {
    outline: none;
}
section#contactUs .sendMessage .horizontalBlockForm {
    display: flex;
    flex-direction: row;
    width: 100%;
}

section#contactUs .sendMessage .inputField input#messageBox {
    height: 5em;
    padding-top: 1em;
    padding-bottom: 3em;
}
section#contactUs .sendMessage input[type=submit]
{
    background-color: #1890FF;
    border: none;
    padding: 8px 18px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-top: 1em;
}
section#contactUs .sendMessage input[type=submit]:hover {
    transform: scale(0.98);
    transition: 0.4s ease;
}

/* LOGIN CSS */


#loginPopUp {
    display: flex;
    margin: 0 auto;
    width: 806px;
    height: 500px;
    margin-top: 8em;
    flex-direction: row;
    align-items: center;
    background-color: white;
    border-radius: 4px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.25);

    /*
    the below code is when it pops up, it has to be absolute
    
    position: absolute;
    align-self: center;
    z-index: 10; */
}
#loginPopUp .popUpOptions {
    display: flex;
    flex-direction: column;
}
#loginPopUp .popUpOptions a.activeOption {
    border-color: var(--primaryBlue);
    color: var(--primaryBlue);
}
#loginPopUp .popUpOptions a {
    font-size: 14px;
    font-weight: bold;
    padding: 24px 16px;
    border-left: 2px solid #D8D8D8;
    margin-bottom: 10px;
    color: #D8D8D8;
}
#loginPopUp .blockLoginRegister {
    position: relative;
}
#loginPopUp .blockLoginRegister img#loginBlockImg {
    height: 580px;
}
#loginPopUp .blockLoginRegister img#loginBlockLogo {
    position: absolute;
    width: 140px;
    top: 280px;
    left: 22px;

}

#loginPopUp .loginPart {
    padding: 0 8em;
    display: flex;
    flex-direction: column;
    width: 100%;
}
#loginPopUp .loginPart .googleBlock {
    display: flex;
    width: 100%;
    background-color: white;
    flex-direction: row;
    align-items: center;
    padding: 0.5em 0;
    border-radius: 4px;
    margin: 0.6em 0;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}
#loginPopUp .loginPart .googleBlock:hover {
    transition: 0.4s ease;
    transform: scale(0.99);
}
#loginPopUp .loginPart .googleBlock img {
    padding-left: 10px;
}
#loginPopUp .loginPart .googleBlock p {
    text-align: center;
    width: 100%;
    margin-right: 29px;
    font-size: 14px;
    font-weight: bold;
    color: black;
}
#loginPopUp .loginPart .orDivider {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
}
#loginPopUp .loginPart .orDivider .line {
    height: 1px;
    width: 43%;
    background-color: #E0E0E0;
}
#loginPopUp .loginPart .orDivider p {
    margin: 0 auto;
    color: #E0E0E0;
    font-size: 14px;
}
#loginPopUp .loginPart #loginForm {
    width: 100%;
}
#loginPopUp .loginPart #loginForm p {
    font-size: 14px;
    font-weight: bold;
    margin: 0.4em 0;
}
#loginPopUp .loginPart #loginForm input {
    border-radius: 4px;
    box-shadow: inset 1px 2px 4px rgba(0, 0, 0, 0.02);
    border: none;
    outline: none;
    width: 100%;
    padding: 8px 14px;
    background-color: #EFEFEF;
}
#loginPopUp .loginPart #loginForm input:focus {
    outline: none;
}
#loginPopUp .loginPart #loginForm input[type=submit] {
    box-shadow: none;
    background-color: var(--primaryBlue);
    padding: 12px 0;
    text-align: center;
    font-weight: bold;
    color: white;
    margin-top: 2em;
    margin-bottom: 0.8em;
    cursor: pointer;
    border: 1px solid var(--primaryBlue);
}
#loginPopUp .loginPart #loginForm input[type=submit]:hover {
    transition: 0.4s ease;
    background-color: white;
    color: var(--primaryBlue);
}
#loginPopUp .loginPart #loginForm a {
    display: flex;
    font-size: 14px;
    color: var(--primaryBlue);
    justify-content: center;
    font-weight: bold;
}
#loginPopUp .loginPart #loginForm a:hover {
    text-decoration: underline;
}