* {
    margin: 0;
}

body {
    font-family: 'Poppins';
    font-style: normal;
    width: calc(100vw - var(--scrollbar-width));
}

header {
    display: flex;
    align-items: center;
    background-color: white;
}

.topbtn, #name, .space{
    /* border: 1px solid black; */
    padding: 30px 20px;
}

#name {
    flex: 1;
}

#name a {
    font-weight: 600;
    font-size: 20px;
    line-height: 96.19%;
    text-decoration: none;
    color: black;
}

.topbtn a{
    text-decoration: none;
    color: black;
    font-weight: 300;
    font-size: 16px;
    line-height: 96.19%;
    text-align: center;
}

.topbtn a:hover {
    color: #b1a59a;
}

.space {
    padding: 30px;
}

footer {
    display: flex;
    background-color: white;
    
}

#copyright {
    flex: 1;
    align-self: center;
    font-weight: 300;
    font-size: 16px;
    line-height: 96.19%;
}

#copyright, .contactBox {
    /* border: 1px solid black; */
    padding: 15px 20px;
    padding-bottom: 20px;
}

.contactBox {
    text-align: center;
    flex-basis: 180px;
}

.contactBox h3 {
    padding-bottom: 10px;
    font-weight: normal;
    font-size: 18px;
    line-height: 96.19%;
}

.contactBox p, a {
    font-size: 16px;
    text-decoration: none;
    color: black;
}

.socials {
    display: flex;

}

.socials a{
    width: 35px;
    height: 35px;
}

.socials a:hover {
    opacity: 60%;
}

.fb {
    background-image: url("Images/Facebook.png");
}

.insta {
    background-image: url("Images/Instagram.png");
}

.twitter {
    background-image: url("Images/Twitter.png");
}

.linkedin {
    background-image: url("Images/LinkedIn.png");
}

#copyright-bottom {
    display: none;
}

.topNav {
    display: none;
}